<h1>DASHBOARD</h1>

<nav>
    {{#if loggedIn}}
    <a href="/">Homepage</a><a href="/new-post">Create New Post</a><a href="/logout">Log Out</a>
    {{else}}
    <a href="/login">Login</a><a href="/signup">Sign Up</a>
    {{/if}}
</nav>
<div class="main">
    {{#each userPosts as |post|}}
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            <a href="/post/{{post.id}}">{{post.title}}</a>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{post.content}}</li>
            <li class="list-group-item">Created on :{{format_date
                post.date_created
                }}</li>
        </ul>

        <button class="button popup-button edit-post" data-target="#popup-main" data-toggle="modal"
            data-post-id="{{post.id}}" data-post-title="{{post.title}}" data-post-content="{{post.content}}">Edit
            Post</button>
        <button class="deleteButton" data-post-id="{{post.id}}">Delete Post</button>
    </div>

    {{else}}
    <h6>No posts here! Make one!</h6>
    {{/each}}
</div>

<div class="modal fade" id="popup-main" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form id="editPostForm">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="postTitle">Post Title</label>
                        <input type="text" class="form-control" id="postTitle" />
                    </div>

                    <div class="form-group">
                        <label for="postContent">Post Content</label>
                        <textarea id="postContent" class="form-control" name="text" rows="10"></textarea>
                    </div>

                    <input type="hidden" id="postID" />
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/edit-post.js"></script>
<script src="/delete-post.js"></script>