{{#each posts as |post|}}

<div class="card" style="width: 18rem;">
  <div class="card-header">
    {{post.title}}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{post.content}}</li>
    <li class="list-group-item">Created on :{{post.date_created}} By:{{post.user_id}} Post ID:{{post.id}}</li>
  </ul>
</div>

{{else}}
<h6>No posts here! Make one!</h6>
{{/each}}
